.titleAndTextWrap {
    margin-left: 20px;
}

.featureCard {
    display: flex;
    max-width: 900px;
    margin: 4rem 0;
    justify-content: center;
    align-items: center;
}

.featureSection {
    padding-top: 60px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    width: 100svw;
}