.titleAndTextWrap {
    text-align: center;
    margin-left: 0;
}

.featureCard {
    display: flex;
    max-width: 900px;
    margin: 4rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.featureSection {
    padding-top: 60px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    width: 100svw;
}

@media screen and (min-width: 900px) {
    .titleAndTextWrap {
        text-align: left;
        margin-left: 20px;
    }

    .featureCard {
        margin: 4rem 0;
        flex-direction: row;
    }
}