.header {
    position: fixed;
    height: 60px;
    width: 100svw;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header ul {
    display: flex;
}

.header a,
.header a:visited {
    margin-right: 1rem;
    color: white;
    text-decoration: none;
    position: relative;
}

.header a:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 0%;
    height: 2px;
    bottom: -3px;
    background-color: var(--primary);
    transition: .2s all;
}

.header a:hover:before {
    width: 100%;
}

.header a:not(:hover):before {
    right: 0%;
}