.landingSection {
    height: 100svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingSites {
    margin: 1rem;
    width: 600px;
    height: 500px;
    display: flex;
    align-items: center;
    position: relative;
}

.landingSites a {
    position: absolute;
    width: 100%;
    display: block;
    scale: 0.8;
    rotate: 0.8 -0.8 0 25deg;
    transition: .2s all;
}

.landingSites a:nth-child(1) {
    transform: translateX(10%) translateY(-25%);
}

.landingSites a:nth-child(3) {
    transform: translateY(25%) translateX(-10%);
}

.landingSites a:hover {
    rotate: 0 0 0 0deg;
}

.landingSites a img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.landingText {
    margin: 1rem;
    max-width: 600px;
}