.landingSection {
    height: 100svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingSites {
    margin: 1rem;
    width: 600px;
    height: 500px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landingSites a {
    display: flex;
    height: 100%;
    width: 100%;
    scale: 0.8;
    rotate: 0.8 -1 0 25deg;
    transition: .2s all;
}

.landingSites img {
    height: auto;
    width: 100%;
    object-fit: contain;
}


.landingSites a:hover {
    transform: translateY(-40px);
    rotate: 0 0 0 0deg;
}

.landingText {
    margin: 1rem;
    max-width: 600px;
}