.pricingCardWrapper {
    display: flex;
    margin: 4rem 0;
    justify-content: center;
}

.pricingSection {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pricingCard {
    width: 300px;
    margin: 0 4rem;
}

.pricingCard ul {
    border-top: 1px var(--ternary) solid;
    margin: 20px 0;
}

.pricingFeature {
    display: flex;
    align-items: center;
}

.pricingFeature img {
    margin-right: 15px;
}