.pricingCardWrapper {
    display: flex;
    justify-content: center;
}

.pricingSection {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pricingCard {
    width: 300px;
    padding: 15px;
}

.pricingCard ul {
    border-top: 1px var(--ternary) solid;
    margin: 20px 0;
}