:root {
  --primary: #FF3355;
  --secondary: #000000;
  --ternary: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: var(--primary)
}

p {
  color: var(--ternary)
}

body {
  background-color: var(--secondary);
}

main {
  display: block;
}