:root {
  --primary: #FF3355;
  --secondary: #000000;
  --ternary: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--primary)
}

h2 {
  margin-bottom: 1rem;
  color: var(--primary)
}

p {
  font-size: 1rem;
  color: var(--ternary);
  line-height: 1.5rem;
}

ul {
  list-style: none;
}

li {
  color: var(--ternary);
  margin: 20px 0;
}

body {
  background-color: var(--secondary);
}

main {
  display: block;
}

.sectionTitle {
  font-size: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px var(--ternary) solid;
}

.button {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  color: var(--ternary);
  margin-top: 2rem;
  padding: 1rem;
  border: 3px solid var(--primary);
  position: relative;
}

.button:before {
  content: '';
  width: 0%;
  height: 100%;
  background-color: var(--primary);
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  transition: .2s all;
}

.button:hover:before {
  width: 100%;
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }
  
  p {
    font-size: 1.2rem;
  }

  .sectionTitle {
    font-size: 3rem;
  }
}